.each-slide > div {
  display: flex;
  justify-content: center;
  background-size: contain;
  background-position: center;
  height: 600px;
}

@media(max-width: 580px) {
  .each-slide > div {
    height: 500px;
  }
}

@media(max-width: 530px) {
  .each-slide > div {
    height: 400px;
  }
}
